.announcement-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 4px 8px rgb(0 0 0 / 20%);
  margin: 12px;
}

/* a {
  text-decoration: none;
} */

/* .title {
  color: #3b95f5;
  text-decoration: none;
}

.body {
} */
