.container-blueprint {
  display: block;
  background-color: white;
  box-shadow: 0 0 12px var(--color-shadow-light);
  margin-bottom: 16px;
}
.container-blueprint .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  color: var(--color-text-light);
  box-shadow: 0px 1px 0px var(--color-shadow);
  margin-bottom: 1px;
}
.container-blueprint .heading.no-content {
  box-shadow: none;
  margin-bottom: 0px;
}
.container-blueprint .heading h3 {
  font-size: 21px;
}
.container-blueprint .no-results-msg {
  padding: 8px 12px;
  color: var(--color-text-lighter);
  font-style: italic;
}
.container-blueprint .content {
  padding: 0 12px 8px;
}
.container-blueprint .content .container-item {
  background-color: white;
  padding-bottom: 0;
  padding: 10px 4px;
  margin-bottom: 1px;
  box-shadow: 0px 1px 0 var(--color-shadow);
  cursor: default;
}
.container-blueprint .content .container-item:last-of-type {
  box-shadow: none;
  margin-bottom: 0;
}
.container-blueprint .content .container-item:hover {
  background-color: rgba(0, 0, 255, 0.05);
}
.container-blueprint .content .container-item .title {
  color: var(--color-text-cyan);
  font-size: 16px;
  margin-bottom: 4px;
  display: flex;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.container-blueprint .content .container-item .body {
  color: var(--color-text-dark);
  font-size: 13px;
  margin-bottom: 4px;
  white-space: pre-line;
}
.container-blueprint .content.padding-top {
  padding-top: 8px;
}
.container-blueprint .content.no-padding-bot {
  padding-bottom: 0;
}
.container-blueprint .more {
  padding: 8px 12px;
  box-shadow: 0px -1px 0px var(--color-shadow);
  margin-top: 1px;
  text-align: right;
}
