.department-container {
  display: block;
  background-color: white;
  box-shadow: 0 0 12px var(--color-shadow-light);
  margin-bottom: 16px;
  padding: 16px;
}
.department-container .heading {
  box-shadow: 0px 1px 0px var(--color-shadow);
  margin-bottom: 1px;
  padding-bottom: 8px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.department-container .heading h3 {
  line-height: 21px;
  font-size: 21px;
  color: var(--color-text-light);
}
.department-container .description {
  color: var(--color-text-dark);
  font-size: 15px;
  white-space: pre-line;
  margin-bottom: 32px;
}
.department-container .profile-info-section .profile-info-title {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 4px;
}
.department-container .profile-info-section.section-separator {
  border-bottom: 1px solid var(--color-shadow);
  padding-bottom: 16px;
  margin-bottom: 16px;
}
.department-container .profile-info-section .info-list {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.department-container .profile-info-section .info-list .field {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--color-text);
  fill: var(--color-text);
  height: 28px;
  padding-left: 4px;
}
.department-container .profile-info-section .info-list .field:nth-child(4n+1), .department-container .profile-info-section .info-list .field:nth-child(4n+2) {
  background-color: hsl(0deg, 0%, 95%);
}

.departments-list-item .stats {
  font-size: 13px;
  color: var(--color-text-light);
}
.departments-list-item .stats .bar-separator {
  margin: 0 8px;
  color: var(--color-text-lighter);
}
