.app-container {
  width: 1200px;
  line-height: 1.25;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.app-container .appbar {
  height: 100px;
  background-color: rgb(240, 255, 249);
  position: relative;
  z-index: 1;
}
.app-container .container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "sidebar content";
  height: 100%;
}
.app-container .container .sidebar {
  grid-area: sidebar;
  background-color: rgb(240, 241, 255);
  z-index: 1;
}
.app-container .container .page {
  display: flex;
  flex-direction: column;
  position: relative;
}
.app-container .container .page .page-heading {
  background-color: rgb(255, 255, 255);
  z-index: 0;
  min-height: 80px;
  max-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-inline: 12px;
  box-shadow: 0 0 12px var(--color-shadow-light);
}
.app-container .container .page .page-heading .breadcrumbs {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: var(--color-text-light);
  fill: var(--color-text-light);
}
.app-container .container .page .page-heading .breadcrumbs .home-icon {
  position: relative;
  top: 2px;
  margin-inline-end: 2px;
}
.app-container .container .page .page-heading .breadcrumbs .icon {
  height: 20px;
  width: 20px;
  margin-inline-start: 4px;
  margin-inline-end: 4px;
}
.app-container .container .page .page-heading .title-container {
  height: 28px;
  display: flex;
  justify-content: space-between;
}
.app-container .container .page .page-heading .title-container .title {
  line-height: 28px;
  font-size: 24px;
  font-weight: 500;
  color: var(--color-text);
}
.app-container .container .page .page-heading .title-container .actions {
  display: flex;
  align-items: center;
}
.app-container .container .page .page-heading .title-container .actions .svg-link {
  height: 24px;
}
.app-container .container .page .page-heading .title-container .actions .svg-danger {
  height: 24px;
  cursor: pointer;
  fill: var(--color-button-red);
}
.app-container .container .page .page-heading .title-container .actions .svg-danger:hover {
  fill: var(--color-button-red-hovered);
}
.app-container .container .page .page-content {
  background-color: var(--color-bg-lightest);
  padding: 12px;
  height: 100%;
}
.app-container .container .page .page-content .content-feed {
  grid-area: "content-feed";
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: 1fr;
  gap: 0px 16px;
  grid-auto-flow: row;
  grid-template-areas: "main-feed side-feed";
  justify-content: space-between;
}
.app-container .container .page .page-content .content-feed .main-feed {
  grid-area: "main-feed";
}
.app-container .container .page .page-content .content-feed .side-feed {
  grid-area: "side-feed";
}
.app-container .container .page .page-content .wide-content-feed .content-feed .main-feed {
  padding: 0;
}
.app-container .container .page .page-content .wide-content-feed .content-feed .side-feed {
  padding: 0;
}

.content-heading {
  color: var(--color-text-cyan);
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
}

.form-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-page .heading {
  margin-bottom: 8px;
}
.form-page .form-container {
  width: 420px;
}
.form-page .form-container.wide {
  width: 640px;
}
.form-page .form-tabs {
  display: flex;
  justify-content: center;
  column-gap: 24px;
}
.form-page .form-tabs .tab-option {
  cursor: pointer;
}
.form-page .form-tabs .tab-option.selected {
  border-bottom: 2px solid var(--color-text-cyan-dark);
}
.form-page .form-tabs .tab-option:hover {
  color: var(--color-text-cyan-dark);
}

.login-page {
  height: 100%;
  background-color: var(--color-bg-lightest);
  width: 840px;
  margin-inline: auto;
}

/*# sourceMappingURL=index.css.map */
