.profile-container {
  padding: 16px;
  background-color: white;
  box-shadow: 0 0 12px var(--color-shadow-light);
  margin-bottom: 16px;
}
.profile-container .profile-heading {
  display: flex;
  border-bottom: 1px solid var(--color-shadow);
  padding-bottom: 16px;
  margin-bottom: 16px;
}
.profile-container .profile-heading .profile-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background-color: var(--color-bg-lightest);
  box-shadow: 0px 0px 0px 1px var(--color-shadow);
  border-radius: 1000px;
}
.profile-container .profile-heading .profile-avatar .icon {
  fill: var(--color-text);
}
.profile-container .profile-heading .profile-avatar .icon.gender-male {
  fill: hsl(220deg, 80%, 70%);
}
.profile-container .profile-heading .profile-avatar .icon.gender-female {
  fill: hsl(300deg, 80%, 70%);
}
.profile-container .profile-heading .profile-identity {
  flex-grow: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 12px;
}
.profile-container .profile-heading .profile-identity .fullname {
  font-size: 21px;
  color: var(--color-text);
}
.profile-container .profile-heading .profile-identity .username {
  font-size: 16px;
  color: var(--color-text-lighter);
}
.profile-container .profile-info-section .profile-info-title {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 4px;
}
.profile-container .profile-info-section.section-separator {
  border-bottom: 1px solid var(--color-shadow);
  padding-bottom: 16px;
  margin-bottom: 16px;
}
.profile-container .profile-info-section .info-list {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.profile-container .profile-info-section .info-list .field {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--color-text);
  fill: var(--color-text);
  height: 28px;
  padding-left: 4px;
}
.profile-container .profile-info-section .info-list .field:nth-child(4n), .profile-container .profile-info-section .info-list .field:nth-child(4n-1) {
  background-color: hsl(0deg, 0%, 95%);
}
.profile-container .profile-info-section .info-list .field .select-department-form {
  display: flex;
}
.profile-container .profile-info-section .info-list .field .select-department-form .field {
  padding: 0;
}
.profile-container .profile-info-section .info-list .field .select-department-form .field .field-input {
  height: 24px;
  font-size: 14px;
  color: var(--color-text-light);
  outline: none;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-text-lighter);
}
.profile-container .profile-info-section .info-list .field .select-department-form .field .field-input:focus {
  border-color: var(--color-text-cyan);
}
.profile-container .profile-info-section .info-list .field .select-department-form .field .field-input:disabled {
  border-color: var(--color-text-disabled);
  pointer-events: none;
}
.profile-container .profile-info-section .info-list .field .select-department-form .field .select {
  height: 28px;
}
.profile-container .profile-info-section .info-list .field .select-department-form .form-submit button {
  height: 28px;
  width: 28px;
  padding: 0;
  border-radius: 1000px;
  border: 0px solid transparent;
  margin-left: 16px;
  cursor: pointer;
}
.profile-container .profile-info-section .info-list .field .select-department-form .form-submit button:hover {
  background-color: hsl(210deg, 100%, 90%);
  fill: var(--color-text-cyan);
}
.profile-container .profile-info-section .info-list .field .select-department-form .form-submit button:disabled {
  background-color: var(--color-bg-lightest);
  fill: var(--color-text-lighter);
  cursor: default;
}

.about-me-section {
  background-color: white;
  box-shadow: 0 0 12px var(--color-shadow-light);
  padding: 16px;
}
.about-me-section .title {
  font-size: 19px;
  font-weight: 300;
  color: var(--color-text-light);
}
.about-me-section .content {
  margin-top: 8px;
  color: var(--color-text);
  white-space: pre-line;
}
