.announcements-list-item {
  .list-item-heading {
    display: flex;
    justify-content: space-between;

    .delete {
      display: flex;
      align-items: center;

      .icon {
        cursor: pointer;
        fill: var(--color-button-red);
        place-self: baseline;

        &:hover {
          fill: var(--color-button-red-hovered);
        }
      }
    }
  }

  .metadata {
    font-size: 11px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    .date {
      color: var(--color-text-light);
      font-style: italic;
    }

    .course {
      color: var(--color-text-lighter);
    }
  }
}

.announcement-container {
  display: block;
  background-color: white;
  box-shadow: 0 0 12px var(--color-shadow-light);
  margin-bottom: 16px;

  .heading {
    box-shadow: 0px 1px 0px var(--color-shadow);
    margin-bottom: 1px;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;

    .title {
      color: var(--color-text-light);
      font-size: 21px;
    }
  }

  .content {
    padding: 12px;

    .body {
      color: var(--color-text-dark);
      font-size: 15px;
      white-space: pre-line;
    }

    .meta-data {
      margin-top: 16px;
      color: var(--color-text-light);
      font-size: 13px;
    }
  }
}
