.container-blueprint {
  display: block;
  background-color: white;
  box-shadow: 0 0 12px var(--color-shadow-light);
  margin-bottom: 16px;

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    color: var(--color-text-light);

    h3 {
      font-size: 21px;
    }
  }

  .no-heading {
    height: 8px;
  }

  .no-results {
    padding: 8px 12px;
    color: var(--color-text-lighter);
    font-style: italic;
    box-shadow: 0px -1px 0px var(--color-shadow);
    margin-top: 1px;
  }

  .content {
    padding: 0 12px 8px;
    box-shadow: 0px -1px 0px var(--color-shadow);
    margin-top: 1px;

    .container-item {
      background-color: white;
      padding-bottom: 0;
      padding: 10px 4px;
      margin-bottom: 1px;
      box-shadow: 0px 1px 0 var(--color-shadow);
      cursor: default;

      &:last-of-type {
        box-shadow: none;
        margin-bottom: 0;
      }

      &:hover {
        background-color: rgba(0, 0, 255, 0.05);
      }

      .title {
        color: var(--color-text-cyan);
        font-size: 16px;
        margin-bottom: 4px;
        display: flex;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .body {
        color: var(--color-text-dark);
        font-size: 13px;
        margin-bottom: 4px;
      }
    }
  }

  .no-shadow {
    box-shadow: none;
  }

  .no-padding-bot {
    padding-bottom: 0;
  }

  .more {
    padding: 8px 12px;
    box-shadow: 0px -1px 0px var(--color-shadow);
    margin-top: 1px;
    text-align: right;
  }
}
