.course-registration-container {
  display: block;
  background-color: white;
  box-shadow: 0 0 12px var(--color-shadow-light);
  margin-bottom: 16px;

  table {
    margin-bottom: 0;

    td {
      text-align: center;

      &.action-cell {
        padding: 0;
      }
    }
  }

  .text-start {
    text-align: start;
  }

  .heading {
    box-shadow: 0px 1px 0px var(--color-shadow);
    margin-bottom: 1px;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    h3 {
      font-size: 21px;
      color: var(--color-text-light);
    }
  }

  .content {
    padding: 12px;

    .body {
      display: flex;
      position: relative;
    }

    .action-box {
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;

      .action-button {
        height: 24px;
        width: 24px;
      }
    }
  }
}

.draft-submit {
  width: 240px;
  margin: 32px auto 16px;
}

.btn-custom {
  height: 26px;
  font-size: 14px;
}
