.courses-list-item {
  .icon {
    margin-left: 4px;
    fill: var(--color-text);
  }

  .professors {
    color: var(--color-text-light);
    font-size: 13px;

    .anonymous {
      font-style: italic;
    }
  }

  .semester {
    color: var(--color-text-lighter);
    font-size: 11px;
    font-style: italic;
    vertical-align: text-bottom;
  }
}

.course-container {
  display: block;
  background-color: white;
  box-shadow: 0 0 12px var(--color-shadow-light);
  margin-bottom: 16px;

  .heading {
    box-shadow: 0px 1px 0px var(--color-shadow);
    margin-bottom: 1px;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    h3 {
      font-size: 21px;
      color: var(--color-text-light);
    }
  }

  .content {
    padding: 12px;

    .body {
      color: var(--color-text-dark);
      font-size: 15px;
      white-space: pre-line;

      .no-desc {
        color: var(--color-text-lighter);
        font-style: italic;
      }
    }

    .footer {
      color: var(--color-text-light);
      margin-top: 16px;
      font-size: 13px;
      display: flex;
      justify-content: space-between;

      .data {
        .instructor {
          color: var(--color-text-cyan-dark);

          .anonymous {
            font-style: italic;
          }
        }

        .dot-separator {
          margin: 0 8px;
          color: var(--color-text-lighter);
        }

        .semester {
          color: var(--color-text-lighter);
          font-style: italic;
        }
      }

      .meta-data {
        color: var(--color-text-lighter);
        font-style: italic;
        text-align: right;
      }

      .vertical-space {
        > :nth-child(n + 2) {
          margin-top: 4px;
        }
      }
    }
  }
}
