.form {
  color: var(--color-text);
  padding: 16px 32px;
  background-color: white;
  box-shadow: 0 0 12px var(--color-shadow-light);
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;

  .form-fields {
    overflow: hidden;
    margin: 12px 0;

    &.fields-separator {
      box-shadow: 0px 1px 0px var(--color-shadow);
    }

    .field {
      margin-bottom: 4px;

      .label {
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        .field-text {
          font-weight: 600;
          margin-bottom: 2px;
        }

        .field-input {
          height: 24px;
          font-size: 14px;
          color: var(--color-text-light);
          outline: none;
          border-radius: 4px;
          border-style: solid;
          border-width: 1px;
          border-color: var(--color-text-lighter);

          &.invalid-input {
            border-color: red;
          }

          &:focus {
            border-color: var(--color-text-cyan);
          }

          &:disabled {
            border-color: var(--color-text-disabled);
            pointer-events: none;
          }
        }

        .select {
          height: 28px;
        }

        .textarea {
          resize: vertical;
          line-height: 17px;
          min-height: 34px;
          max-height: 300px;
          height: 85px;
        }

        .date {
          height: 26px;
        }
      }

      .error {
        display: block;
        color: red;
        font-size: 12px;
        min-height: 18px;
        margin-top: 2px;
      }
    }

    .checkbox-field {
      height: 40px;

      .label {
        display: flex;

        .checkbox {
          width: 16px;
          height: 16px;
        }

        .field-text {
          font-weight: 600;
          margin: 2px 0 0 4px;
        }
      }

      .error {
        color: red;
        font-size: 12px;
      }
    }

    .radiogroup-field {
      margin-bottom: 4px;

      .field-text {
        display: inline-block;
        font-weight: 600;
        margin-bottom: 2px;
      }

      .fieldset {
        border: none;
        padding: 0;
        margin: 0;
        font-size: 13px;

        .label {
          margin-right: 16px;

          .radio {
            margin: 0 4px 0 0;
          }
        }
      }

      .error {
        display: block;
        color: red;
        font-size: 12px;
        min-height: 20px;
      }
    }
  }

  .form-submit {
    margin: 8px 0;
    text-align: center;
    display: grid;

    .form-reset {
      position: absolute;
      right: 0;
      top: 0;
      border: none;
      height: 24px;
      width: 32px;
      background: white;
      box-shadow: 0 0 12px var(--color-shadow);
      font-size: 16px;
      padding: 0;

      &:hover {
        background-color: hsla(0, 100%, 50%, 0.14);
      }
    }

    .invalid {
      color: red;
      margin-top: 16px;
      font-weight: 500;
    }
  }

  .select-profs {
    width: 356px;
    align-self: center;
  }
}
