.form {
  color: var(--color-text);
  padding: 16px 32px;
  background-color: white;
  box-shadow: 0 0 12px var(--color-shadow-light);
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;

  .form-fields {
    overflow: hidden;
    margin: 12px 0;

    &.fields-separator {
      box-shadow: 0px 1px 0px var(--color-shadow);
    }

    .field {
      margin-bottom: 4px;
      min-height: 70px;

      .label {
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        .field-text {
          font-weight: 600;
          margin-bottom: 2px;
        }

        .field-input {
          height: 24px;
          font-size: 14px;
          color: var(--color-text-light);
          outline: none;
          border-radius: 4px;
          border-style: solid;
          border-width: 1px;
          border-color: var(--color-text-lighter);

          &.invalid-input {
            border-color: red;
          }

          &:focus {
            border-color: var(--color-text-cyan);
          }
        }

        .field-select-height {
          height: 28px;
        }
      }

      .error {
        color: red;
        text-align: center;
        margin-top: 2px;
        font-size: 12px;
      }
    }
  }

  .form-submit {
    margin: 8px 0;
    text-align: center;
    display: grid;
  }

  .form-reset {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: 24px;
    width: 32px;
    background: white;
    box-shadow: 0 0 12px var(--color-shadow);
    font-size: 16px;
    padding: 0;

    &:hover {
      background-color: hsla(0, 100%, 50%, 0.14);
    }
  }
}
