body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100vh;
  background-color: rgb(36, 39, 46);
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

:root {
  --color-bg-lightest: hsl(0, 0%, 97%);
  --color-shadow-light: hsla(0, 0%, 0%, 0.07);
  --color-shadow: hsla(0, 0%, 0%, 0.14);
  --color-text-dark: hsl(0, 0%, 20%);
  --color-text-light: hsl(0, 0%, 50%);
  --color-text-lighter: hsl(0, 0%, 67%);
  --color-text-cyan-light: hsl(200, 100%, 70%);
  --color-text-cyan: hsl(210, 90%, 60%);
  --color-text-cyan-dark: hsl(210, 80%, 40%);
}

.mr-12 {
  margin-right: 12px;
}

.link {
  a {
    text-decoration: none;
    color: var(--color-text-cyan);

    &:hover {
      text-decoration: underline;
      color: var(--color-text-cyan-dark);
    }
  }
}

.link-simple {
  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
      color: inherit;
    }
  }
}

.ellipsis-3 {
  $lines: 3;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  line-clamp: $lines;
  -webkit-box-orient: vertical;
}
