body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  min-height: 100vh;
  background-color: rgb(36, 39, 46);
  color: var(--color-text-dark);
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

:root {
  --color-bg-lightest: hsl(0, 0%, 97%);
  --color-shadow-light: hsla(0, 0%, 0%, 0.07);
  --color-shadow: hsla(0, 0%, 0%, 0.14);
  --color-text-lighter: hsl(0, 0%, 67%);
  --color-text-light: hsl(0, 0%, 50%);
  --color-text: hsl(0, 0%, 40%);
  --color-text-dark: hsl(0, 0%, 20%);
  --color-text-disabled: hsl(0, 0%, 83%);
  --color-text-cyan: hsl(210, 90%, 60%);
  --color-text-cyan-dark: hsl(210, 80%, 40%);
  --color-text-cyan-disabled: hsla(210, 90%, 60%, 0.5);
  --color-text-cyan-hovered: hsl(200, 100%, 70%);
  --color-button-red: hsl(350, 90%, 60%);
  --color-button-red-disabled: hsla(350, 90%, 50%, 0.5);
  --color-button-red-hovered: hsl(350, 90%, 70%);
  --color-deep-blue: hsl(220, 50%, 25%);
}

.mr-12 {
  margin-right: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-28 {
  margin-bottom: 28px;
}

.my-32 {
  margin-block: 32px;
}

.pt-100 {
  padding-top: 100px;
}

.font-300 {
  font-weight: 300;
}

.full-width {
  width: 100%;
}

.link {
  a {
    text-decoration: none;
    color: var(--color-text-cyan);

    &:hover {
      text-decoration: underline;
      color: var(--color-text-cyan-dark);
    }
  }
}

.link-simple {
  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
      color: inherit;
    }
  }
}

.svg-link {
  a {
    fill: var(--color-text-cyan);

    &:hover {
      fill: var(--color-text-cyan-dark);
    }
  }
}

.svg-btn {
  fill: var(--color-text-cyan);
  cursor: pointer;

  &:hover {
    fill: var(--color-text-cyan-dark);
  }

  svg {
    display: flex;
  }
}

.ellipsis-3 {
  $lines: 3;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  line-clamp: $lines;
  -webkit-box-orient: vertical;
}
