$sidebar-shadow: 0 0 12px var(--color-shadow-light), 4px -2px 4px 0px black;

.app-container {
  width: 1200px;
  line-height: 1.25;
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "topbar-logo topbar-main"
    "sidebar content-main";
  background-color: var(--color-bg-lightest);

  .topbar-logo {
    grid-area: topbar-logo;
    display: flex;
    align-items: center;
    padding-inline-start: 12px;
    position: relative;
    z-index: 1;
    box-shadow: $sidebar-shadow;
    background-color: hsl(220deg 50% 25%);
    color: white;

    .link-title {
      a {
        text-decoration: none;
        color: inherit;

        &:hover {
          color: var(--color-text-cyan-dark);
        }
      }

      h1 {
        font-weight: 300;
      }
    }
  }

  .topbar-main {
    grid-area: topbar-main;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 12px;
    background-color: hsl(156, 100%, 97%);
    position: relative;
    z-index: 3;
    box-shadow: 0 0 12px var(--color-shadow-light), 0px -2px 4px 0px black;
    background-color: white;

    .actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .profile {
        display: flex;
        align-items: center;

        .avatar {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 28px;
          height: 28px;
          background-color: var(--color-bg-lightest);
          box-shadow: 0px 0px 0px 1px var(--color-shadow);
          border-radius: 1000px;

          .icon {
            fill: var(--color-text);

            &.gender-male {
              fill: hsl(220, 80%, 70%);
            }

            &.gender-female {
              fill: hsl(300, 80%, 70%);
            }
          }
        }

        .name {
          margin-inline-start: 8px;
        }
      }

      .logout-button {
        display: flex;
        align-items: center;
        column-gap: 6px;
        fill: var(--color-text);
      }
    }
  }

  .sidebar {
    grid-area: sidebar;
    box-shadow: $sidebar-shadow;
    background-color: hsl(220, 50%, 25%);
    z-index: 0;

    .quicklinks-container {
      padding-top: 20px;

      .quicklink {
        display: flex;
        align-items: center;
        column-gap: 8px;
        height: 36px;
        padding-inline-start: 12px;
        margin-bottom: 1px;
        background-color: hsl(0, 0%, 100%, 5%);
        color: white;
        fill: white;

        &:hover {
          text-decoration: underline;
          background-color: var(--color-text-cyan-dark);
          cursor: pointer;
        }
      }

      .separator {
        height: 20px;
      }
    }
  }

  .content-main {
    grid-area: content-main;
    z-index: 2;

    .page {
      display: flex;
      flex-direction: column;
      position: relative;
      height: 100%;

      .page-heading {
        background-color: rgb(255, 255, 255);
        z-index: 0;
        min-height: 80px;
        max-height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-inline: 12px;
        box-shadow: 0 0 12px var(--color-shadow-light);

        .breadcrumbs {
          $size: 20px;

          display: flex;
          align-items: center;
          font-size: 14px;
          line-height: $size;
          font-weight: 300;
          color: var(--color-text-light);
          fill: var(--color-text-light);

          .home-icon {
            position: relative;
            top: 2px;
            margin-inline-end: 2px;
          }

          .icon {
            height: $size;
            width: $size;
            margin-inline-start: 4px;
            margin-inline-end: 4px;
          }
        }

        .title-container {
          height: 28px;
          display: flex;
          justify-content: space-between;

          .title {
            line-height: 28px;
            font-size: 24px;
            font-weight: 500;
            color: var(--color-text);
          }

          .actions {
            display: flex;
            align-items: center;

            .svg-link {
              height: 24px;
            }

            .svg-danger {
              height: 24px;
              cursor: pointer;
              fill: var(--color-button-red);

              &:hover {
                fill: var(--color-button-red-hovered);
              }
            }

            .delete {
              display: flex;
              align-items: center;

              .icon {
                cursor: pointer;
                fill: var(--color-button-red);
                place-self: baseline;

                &:hover {
                  fill: var(--color-button-red-hovered);
                }
              }
            }
          }
        }
      }

      .page-content {
        background-color: var(--color-bg-lightest);
        padding: 12px;
        height: 100%;

        .content-feed {
          grid-area: content-feed;
          display: grid;
          grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
          grid-template-rows: 1fr;
          gap: 0px 16px;
          grid-auto-flow: row;
          grid-template-areas: "main-feed side-feed";
          justify-content: space-between;

          .main-feed {
            grid-area: main-feed;
          }

          .side-feed {
            grid-area: side-feed;
          }
        }

        .wide-content-feed {
          .content-feed {
            .main-feed {
              padding: 0;
            }

            .side-feed {
              padding: 0;
            }
          }
        }
      }
    }
  }
}

.form-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading {
    margin-bottom: 8px;
  }

  .form-container {
    width: 420px;

    &.wide {
      width: 640px;
    }
  }

  .form-tabs {
    display: flex;
    justify-content: center;
    column-gap: 24px;

    .tab-option {
      cursor: pointer;

      &.selected {
        border-bottom: 2px solid var(--color-text-cyan-dark);
      }

      &:hover {
        color: var(--color-text-cyan-dark);
      }
    }
  }
}

.login-page {
  height: 100%;
  background-color: var(--color-bg-lightest);
  width: 840px;
  margin-inline: auto;
}
