.app-container {
  width: 1200px;
  font-family: "arial";
  line-height: "1.4";
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "sidebar content";

  height: 800px;
}

.appbar {
  height: 100px;
  background-color: rgb(240, 255, 249);
}

.sidebar {
  grid-area: sidebar;
  background-color: rgb(240, 241, 255);
}

.page-content {
  grid-area: "page-content";
  background-color: var(--color-bg-lightest);
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "main-feed side-feed";

  .main-feed {
    padding: 12px;
  }

  .side-feed {
  }
}
