table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 16px;

  colgroup {
    .col-small {
      width: 50px;
    }
  }

  th,
  td {
    color: var(--color-text);
    padding: 8px;
    border: 1px solid hsl(0, 0%, 80%);
    max-width: 100px;
    vertical-align: baseline;
    overflow: hidden;
  }

  th {
    background-color: hsl(0, 0%, 90%);
    color: var(--color-text-dark);
  }

  td {
    background-color: white;
  }

  .table-center {
    text-align: center;
  }

  .cell-checkbox {
    padding: 0;
    vertical-align: middle;

    .checkbox-large {
      width: 16px;
      height: 16px;
    }
  }

  .course {
    display: flex;

    .icon {
      margin-left: 4px;
      fill: var(--color-text);
    }
  }

  .instructors {
    font-size: 14px;
    color: var(--color-text-cyan-dark);
  }

  .semester {
    font-style: italic;
  }
}

.table-no-results {
  background-color: white;
  box-shadow: 0 0 12px var(--color-shadow-light);
  padding: 8px 12px;

  h3 {
    color: var(--color-text-lighter);
    font-style: italic;
    font-size: 21px;
  }
}
