table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 16px;
  box-shadow: 0 0 12px var(--color-shadow-light);

  colgroup {
    .col-small {
      width: 50px;
    }

    .col-medium {
      width: 150px;
    }
  }

  th,
  td {
    color: var(--color-text);
    padding: 8px;
    border: 1px solid hsl(0, 0%, 92%);
    max-width: 100px;
    vertical-align: baseline;
    overflow: hidden;
  }

  th {
    background-color: hsl(0, 0%, 92%);
    color: var(--color-text);
    border: 1px solid hsl(0deg, 0%, 83%);
    vertical-align: middle;
  }

  tr {
    background-color: white;

    &.current {
      background-color: hsl(60, 100%, 90%);
    }
  }

  td {
    vertical-align: top;
  }

  .table-center {
    text-align: center;
  }

  .action-cell {
    position: relative;

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: var(--color-button-red);
      cursor: pointer;

      &:hover {
        fill: var(--color-button-red-hovered);
      }
    }
  }

  .cell-checkbox {
    padding: 0;
    vertical-align: middle;

    .checkbox-large {
      width: 16px;
      height: 16px;
    }
  }

  .course {
    display: flex;

    .icon {
      margin-left: 4px;
      fill: var(--color-text);
    }
  }

  .username {
    display: flex;

    .icon {
      margin-right: 4px;
      fill: var(--color-text);

      &.gender-male {
        fill: hsl(220, 80%, 70%);
      }

      &.gender-female {
        fill: hsl(300, 80%, 70%);
      }
    }
  }

  .empty {
    background-color: hsla(0, 0%, 92%, 0.5);
  }

  .low-grade {
    color: var(--color-text-lighter);
  }

  .instructors {
    font-size: 14px;
    color: var(--color-text-cyan-dark);
  }

  .semester {
    font-style: italic;
  }
}

.table-no-results {
  background-color: white;
  box-shadow: 0 0 12px var(--color-shadow-light);
  padding: 8px 12px;
  margin-bottom: 16px;

  h3 {
    color: var(--color-text-lighter);
    font-style: italic;
    font-size: 21px;
  }
}
